#banner {
    height: calc(100vh);
    background-image: url("https://wallpapercave.com/wp/wp7453603.jpg");
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(59, 59, 59);
    font-weight: 700;
    h1{
        
        z-index: 10000;
        font-weight: 500;
        font-weight: 700;
    }
    
    h3{
        margin-top: 15px;
        margin-bottom: 15px;
        z-index: 10000;
        font-weight: 500;
    }

    #botoes{
        margin: 15px;
    }

    #eu{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 43%;
    }
   
}
  