@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#banner {
    height: calc(100vh);
    background-image: url("../../img/wallpaper.png");
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(59, 59, 59);
    font-weight: 700;
    h1{
        font-family: 'Bebas Neue', cursive;
        color: rgb(59, 59, 59);
        font-size: 90px;
        z-index: 10000;
        font-weight: 500;
        .destaque{
            font-weight: 500;
            color: #dc3545;
        }
        
    }
    
    h3{
        
        margin-top: 0px;
        margin-bottom: 0px;
        z-index: 10000;
        font-weight: 500;
        .destaque{
            font-weight: 800;
            color: #dc3545;
        }
    }
    
    #botoes2{
        background-color:rgb(62,63,80);
        border-color: rgb(62,63,80);
    }

    #botoes{
        
        margin: 15px;
    }
  

    #eu{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 43%;
        
    }
   
}
  